@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Solo añadimos estilos para elementos interactivos */
a,
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
[role="button"] {
  cursor: pointer;
}

@keyframes float {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes notification {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  85% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}

@layer utilities {
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
  .animate-notification {
    animation: notification 3.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}
